<p-card class="auth-box">
    <ng-template pTemplate="header">
        <div class="auth-header">
            <div 
                class="login-opt"
                [ngClass]="{ 'selected' : !registerFlag }"
                pRipple
                (click)="registerFlag = false"
            >
                <span>Login</span>
            </div>
            <div 
                class="register-opt"
                [ngClass]="{ 'selected' : registerFlag}"
                pRipple
                (click)="registerFlag = true"
            >
                <span>Registrati</span>
            </div>
        </div>
    </ng-template>

    <ng-container *ngIf="!registerFlag; else register">
        <app-login></app-login>
    </ng-container>
    <ng-template #register>
        <app-register #register></app-register>
    </ng-template>
</p-card>