<div class="register-box">
    <div class="data-input name">
        <input 
            pInputText
            placeholder="Nome"
        />
    </div>
    <div class="data-input email">
        <input 
            class="p-input"
            type="email"
            pInputText
            placeholder="Email"
        />
    </div>
    <div class="data-input passwd">
        <p-password
            class="p-input"
            placeholder="Password"
        ></p-password>
    </div>

    <div class="data-input passwd">
        <p-password
            class="p-input"
            placeholder="Conferma Password"
        ></p-password>
    </div>
    <div class="submit">
        <p-button
            class="p-input"
            label="Registrati"
            (onClick)="onRegister()"
        ></p-button>
    </div>
</div>