<div class="view-container">
    <div class="view-header">
        <h3 class="view-title">
            {{ "Dettaglio Caldaia" }}
        </h3>
    </div>
    <div class="view-data-box">
        <div class="view-item-box">
            <label class="item-label">{{ "Nome" }}</label>
            <label>{{ selectedCaldaia.nome }}</label>
        </div>
        <div class="view-item-box">
            <label class="item-label">{{ "Come sbloccare" }}</label>
            <label>{{ selectedCaldaia.sbloccoIstruzione }}</label>
        </div>
        <!-- <div class="view-item-box">
            <label class="item-label">{{ "Prezzo" }}</label>
            <label>{{ selectedCaldaia.prezzo }}</label>
        </div>
        <div class="view-item-box">
            <label class="item-label">{{ "Sconto" }}</label>
            <label>{{ selectedCaldaia.sconto + " %" }}</label>
        </div> -->
    </div>
</div>
