@if (displayContent) {
    <div class="background-container">
        <p-breadcrumb
            class="max-w-full"
            [model]="menuItems"
            styleClass="menu-items"
        ></p-breadcrumb>
        @if (selectedMarca) {
            <div
                class="title-box animation-duration-1000 animation-ease-in-out"
                pAnimateOnScroll
                enterClass="fadeinleft"
            >
              {{ "Modelli " + selectedMarca.nome | uppercase }}
            </div>
        }
    </div>

    <div class="paginator-top-box" #paginatorTopBox>
      <p-paginator
          [rows]="9"
          [totalRecords]="caldaieList.length"
          (onPageChange)="splitCaldaieList($event, paginatorTopBox)"
          [first]="firstCaldaiaIdx"
          styleClass="caldaie-list-paginator"
          #paginatorTop
      >
      </p-paginator>
    </div>

    <div class="caldaia-card-container">
        <p-card
            *ngFor="let caldaia of caldaieVisibleList; index as index"
            pAnimateOnScroll
            enterClass="flipleft"
            class="caldaia-card animation-duration-1000 animation-ease-in-out"
        >
            <ng-template pTemplate="header">
                <img
                    src="../../../assets/caldaia-riello.jpg"
                    alt="Nessun immagine disponibile"
                    class="caldaia-image"
                >
            </ng-template>
            <ng-template pTemplate="subheader">
                <div class="caldaia-name">
                    {{ caldaia.nome }}
                </div>
                <i
                    class="acquistato-icon"
                ></i>
            </ng-template>
            <ng-template pTemplate="footer">
                <div class="button-list">
                    <p-button
                        label="Visualizza"
                        severity="info"
                        icon="pi pi-list"
                        (onClick)="viewCaldaiaDetail(index)"
                    ></p-button>
                    <p-button
                        label="Sblocca"
                        severity="warning"
                        icon="fa fa-solid fa-unlock"
                    ></p-button>
                </div>
            </ng-template>
        </p-card>
    </div>

    <p-paginator
        [rows]="9"
        [totalRecords]="caldaieList.length"
        (onPageChange)="splitCaldaieList($event, paginatorTopBox)"
        [first]="firstCaldaiaIdx"
        styleClass="caldaie-list-paginator"
    >
    </p-paginator>
}

<router-outlet></router-outlet>
