
<div class="istruzioni-panel-box">
  <div
    class="guasti-title-box animation-duration-1000 animation-ease-in-out"
    pAnimateOnScroll
    enterClass="fadeinleft"
  >
    {{ "Individuazione guasti" | uppercase }}
  </div>
  @if (utente.risoluzioneGuastiFlag) {
    <p-scrollPanel
      styleClass="istruzioni-panel"
      pAnimateOnScroll
      class="animation-duration-500 animation-ease-in-out"
      enterClass="fadein"
    >
      <ul>
        @for (istruzione of risoluzioneGuastiIstruzioni; track $index) {
          <li
            class="animation-duration-500 animation-ease-in-out"
            pAnimateOnScroll
            enterClass="fadeinleft"
            [once]="false"
          ><p>{{ istruzione }}</p></li>
        }
      </ul>
    </p-scrollPanel>
  } @else {
    <p-button
      severity="warning"
      label="Sblocca Individuazione Guasti"
      icon="fa fa-solid fa-lock"
    ></p-button>
  }
</div>
