<div class="card-container">
    <p-card 
        class="package-card"
        *ngFor="let package of packages"
    >
    <ng-template pTemplate="header">
        <fa-icon [icon]="fireIcon" [classes]="['icon']"></fa-icon>
        <p class="card-title">{{ package.title }}</p>
        <span class="card-price">{{ package.price }}</span>
    </ng-template>


    
    <ng-template pTemplate="content">
        <p
            *ngFor="let release of package.releases"
        >{{ release }}</p>
    </ng-template>
    </p-card>
</div>