<p-card
    class="userinfo-card"
>
    <ng-template
        pTemplate="header"
    >
        <div class="welcome-username">
            <p class="welcome-username">Bentornato, {{ userService.userData.name }}</p>
        </div>
    </ng-template>

    <ng-template
        pTemplate="body"
    >
        <div class="product-list-box">
            <p *ngFor="let caldaia of caldaieSbloccate">
                <fa-icon [icon]="checkIcon" class="check-icon"></fa-icon>
                {{ caldaia }}
            </p>
        </div>
    </ng-template>
</p-card>