 <div class="login-box">

     <h2>Login</h2>
     <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!--Username-->
        <div class="form-group pt-3">
         
         <div class="input-field" [class.error]="loginForm.controls['username'].dirty && loginForm.hasError('required','username')"> 
            <label for="username">Username</label>
            <span class="fa fa-user p-2"></span> 
            <input class="p-input"
                    type="text"
                    pInputText
                    formControlName="username"
                    placeholder="Username / Email"  required />
         </div>
       </div>
       <small *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required','username')" class="text-danger">*Username is required*</small>

       <!--Password-->
       <div class="form-group pt-3">
          <div class="input-field" [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required','password')"> 
            <label for="password">Password</label>
            <span class="fa fa-lock px-2"></span> 
              <p-password
                          formControlName="password"
                          [toggleMask] = true
                          class="p-input"
                          placeholder="Password">
                      </p-password>   
          </div>
       </div>
       <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')" class="text-danger"> *Password is required*</small>
       
       <br>
       <p-button type="submit" [disabled]="loginForm.invalid">Accedi</p-button>
       
       <div *ngIf="loginError" class="error-message">
         Login failed. Please check your credentials.
       </div>
     </form>
  
  <div class="text-center pt-4 text-muted">Non hai un account? 
      <a id="forgot" routerLink="/signup" >Registrati</a> 
  </div>

</div>