<!-- <h2>Login</h2> -->
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group-box">
    <!--Username-->
    <div class="input-field" [class.error]="loginForm.controls['username'].dirty && loginForm.hasError('required','username')">
      <span class="p-float-label"> 
        <input class="p-input"
          pInputText
          id="username"
          formControlName="username"
        />
        <label for="username">Username / Email<span class="fa fa-user px-2"></span></label>
      </span>
    </div>
    <small *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required','username')" class="text-danger">*Username is required*</small>

    <!--Password-->
    <div class="input-field" [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required','password')"> 
      <span class="p-float-label">
        <p-password
          id="password"
          formControlName="password"
          [toggleMask]="true"
          class="p-input"
          styleClass="p-input"
          inputStyleClass="p-input"
        >
        </p-password>   
        <label for="password">Password<span class="fa fa-lock px-2"></span></label>
      </span>
    </div>
    <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')" class="text-danger"> *Password is required*</small>

    <p-button type="submit" [disabled]="loginForm.invalid">Accedi</p-button>
  </div>
  
  <div *ngIf="loginError" class="error-message">
    Username o password errata. Riprova.
  </div>
</form>

<!-- <div class="text-center pt-4 text-muted">Non hai un account? 
  <a id="forgot" routerLink="/signup" >Registrati</a> 
</div> -->