<div class="edit-container">
    <div class="edit-header">
        <h3>{{ "Modifica Caldaia" }}</h3>
        <p-button
            styleClass="p-button-success"
            label="Salva"
            [loading]="saving"
            (onClick)="saveOrUpdateData()"
        >
        </p-button>
    </div>
    <div class="edit-data-box">
        <div class="edit-item-box">
            <label for="nome" class="label-item">{{ "Nome" }}</label>
            <input
                pInputText
                id="nome"
                [(ngModel)]="selectedCaldaia.nome"
                class="form-item"
            />
        </div>
        <div class="edit-item-box">
            <label for="descrizione" class="label-item">{{ "Descrizione" }}</label>
            <input
                pInputText
                id="descrizione"
                [(ngModel)]="selectedCaldaia.descrizione"
                class="form-item"
            />
        </div>
        <!-- <div class="edit-item-box">
            <label for="prezzo" class="label-item">{{ "Prezzo" }}</label>
            <p-inputNumber
                id="prezzo"
                [(ngModel)]="selectedCaldaia.prezzo"
                class="form-item"
                [maxFractionDigits]="2"
                [min]="0"
            />
        </div>
        <div class="edit-item-box">
            <label for="sconto" class="label-item">{{ "Sconto" }}</label>
            <p-inputNumber
                id="sconto"
                [(ngModel)]="selectedCaldaia.sconto"
                class="form-item"
                [maxFractionDigits]="2"
                [min]="0"
                [max]="100"
            />
        </div> -->
    </div>
    <h2 class="errori-caldaia-label">{{ "Errori caldaia" }}</h2>
    <div class="grid-box-layout">
      <div class="grid-col-3">
        <i
          class="fa fa-solid fa-plus add-error-icon"
          (click)="addError()"
        ></i>
      </div>
    </div>
    <div
      *ngFor="let newErrore of newErroriSelectedCaldaia; index as newErrorIdx"
      class="grid-box-layout"
    >
      <div class="grid-col grid-col-1 toggle-error">
        <div class="icon-box">
          <i
            class="pi pi-file-edit"></i>
        </div>
      </div>
      <div class="grid-col grid-col-2">
        <input
          [(ngModel)]="newErrore.codiceErrore"
          class="codice-errore"
          placeholder="Codice errore"
          pInputText
        />
      </div>
      <div class="grid-col grid-col-3">
        <div class="icon-box">
          <i
            class="pi pi-trash delete-trash-icon"
            (click)="newErroriSelectedCaldaia.splice(newErrorIdx, 1)"
          ></i>
        </div>
      </div>
    </div>

    <div
      *ngFor="let errore of erroriSelectedCaldaia; index as errorIdx"
      class="grid-box-layout"
    >
      <div class="grid-col grid-col-1 toggle-error">
        <div class="icon-box">
          <i class="pi pi-file-edit"></i>
        </div>
      </div>
      <div class="grid-col grid-col-2 codice-errore">
        <label for="errore" class="codice-errore">{{ errore.codiceErrore }}</label>
      </div>
      <div class="grid-col grid-col-3">
        <div class="icon-box">
          <i
            class="pi pi-trash delete-trash-icon"
            (click)="deleteError(errorIdx)"
          ></i>
        </div>
      </div>
    </div>
</div>
