<div class="edit-container">
    <div class="edit-header">
        <h3>{{ "Modifica Caldaia" }}</h3>
        <p-button
            styleClass="p-button-success"
            label="Salva"
            [loading]="saving"
            (onClick)="saveOrUpdateData()"
        >
        </p-button>
    </div>
    <div class="edit-data-box">
        <div class="edit-item-box">
            <label for="nome" class="label-item">{{ "Nome" }}</label>
            <input
                pInputText
                id="nome"
                [(ngModel)]="selectedCaldaia.nome"
                class="form-item"
            />
        </div>
        <div class="edit-item-box">
            <label for="descrizione" class="label-item">{{ "Descrizione" }}</label>
            <input
                pInputText
                id="descrizione"
                [(ngModel)]="selectedCaldaia.descrizione"
                class="form-item"
            />
        </div>
        <div class="edit-item-box">
            <label for="prezzo" class="label-item">{{ "Prezzo" }}</label>
            <p-inputNumber
                id="prezzo"
                [(ngModel)]="selectedCaldaia.prezzo"
                class="form-item"
                [maxFractionDigits]="2"
                [min]="0"
            />
        </div>
        <div class="edit-item-box">
            <label for="sconto" class="label-item">{{ "Sconto" }}</label>
            <p-inputNumber
                id="sconto"
                [(ngModel)]="selectedCaldaia.sconto"
                class="form-item"
                [maxFractionDigits]="2"
                [min]="0"
                [max]="100"
            />
        </div>
    </div>
</div>
