@if (viewImageModal) {
  <p-dialog
    [(visible)]=viewImageModal
  >
    <div class="caldaia-image-modal">
      <p-button
        styleClass="p-button-danger remove-button"
        (onClick)="selectedCaldaia.immagine = null; viewImageModal = false"
      >
        Rimuovi immagine
      </p-button>
      <img
        src="data:image/png;base64,{{selectedCaldaia.immagine}}"
        class="caldaia-image-view"
        alt="Immagine non disponibile"
      />
    </div>
  </p-dialog>
}

@if (editErroreFlag) {
  <p-dialog
    class="edit-errore"
    [(visible)]="editErroreFlag"
  >
    <app-errore-edit
      [selectedErrore]="erroriSelectedCaldaia[selectedErroreIdx]"
      (emitErrore)="updateErrore($event)"
    >
    </app-errore-edit>
  </p-dialog>
}

<div class="edit-container">
    <div class="edit-header">
        <h3>{{ "Modifica Caldaia" }}</h3>
        <p-button
            styleClass="p-button-success"
            label="Salva"
            [loading]="saving"
            (onClick)="saveOrUpdateData()"
        >
        </p-button>
    </div>
    <div class="edit-data-box">
      <div class="edit-item-box">
        <label for="marca" class="item-label">{{ "Marca" }}</label>
        <p-dropdown
            [options]="marcheListForDropdown"
            id="marca"
            [(ngModel)]="selectedCaldaia.idMarca"
            class="form-item"
        />
    </div>
      <div class="edit-item-box">
          <label for="nome" class="item-label">{{ "Nome" }}</label>
          <input
              pInputText
              id="nome"
              [(ngModel)]="selectedCaldaia.nome"
              class="form-item"
          />
      </div>
      <div class="edit-item-box">
          <label for="descrizione" class="item-label">{{ "Come sbloccare" }}</label>
          <input
              pInputText
              id="descrizione"
              [(ngModel)]="selectedCaldaia.sbloccoIstruzione"
              class="form-item"
          />
      </div>
      <div class="edit-item-box">
        <label for="immagine" class="item-label">{{ "Immagine" }}</label>
        <p-button
          *ngIf="!!selectedCaldaia.immagine"
          styleClass="p-button-info"
          (onClick)="viewImageModal = !viewImageModal"
        >Visualizza immagine</p-button>
        <input
          type="file"
          class="form-item"
          (change)="uploadImage($event.target)"
          accept=".jpg,.png"
        >
    </div>
    </div>
    <h2 class="errori-caldaia-label">{{ "Errori caldaia" }}</h2>
    <div class="grid-box-layout">
      <div class="grid-col-3">
        <i
          class="fa fa-solid fa-plus add-icon"
          (click)="editErrore()"
        ></i>
      </div>
    </div>
    <div
      *ngFor="let newErrore of newErroriSelectedCaldaia; index as newErrorIdx"
      class="grid-box-layout"
    >
      <div class="grid-col grid-col-1 toggle-error">
        <div class="icon-box">
          <i
            class="pi pi-file-edit"></i>
        </div>
      </div>
      <div class="grid-col grid-col-2">
        <input
          [(ngModel)]="newErrore.codiceErrore"
          class="codice-errore"
          placeholder="Codice errore"
          pInputText
        />
      </div>
      <div class="grid-col grid-col-3">
        <div class="icon-box">
          <i
            class="pi pi-trash delete-trash-icon"
            (click)="newErroriSelectedCaldaia.splice(newErrorIdx, 1)"
          ></i>
        </div>
      </div>
    </div>

    <div
      *ngFor="let errore of erroriSelectedCaldaia; index as errorIdx"
      class="grid-box-layout"
    >
      <div class="grid-col grid-col-1 toggle-error">
        <div class="icon-box">
          <i
            class="pi pi-file-edit edit-icon"
            (click)="editErrore(errorIdx)"
          ></i>
        </div>
      </div>
      <div class="grid-col grid-col-2 codice-errore">
        <label for="errore" class="codice-errore">{{ errore?.codiceErrore }}</label>
      </div>
      <div class="grid-col grid-col-3">
        <div class="icon-box">
          <i
            class="pi pi-trash delete-trash-icon"
            (click)="deleteError(errorIdx)"
          ></i>
        </div>
      </div>
    </div>
</div>
