
<div class="background">
  <div class="istruzioni-panel-box">
    <div
      class="guasti-title-box animation-duration-1000 animation-ease-in-out"
      pAnimateOnScroll
      enterClass="fadeinleft"
    >
      {{ "Accortezze per la sostituzione" | uppercase }}
    </div>
    @if (utente.accortezzeSostituzioneFlag) {
      <p-scrollPanel
        styleClass="istruzioni-panel"
        pAnimateOnScroll
        class="animation-duration-500 animation-ease-in-out"
        enterClass="fadein"
      >
        <ul>
          @for (istruzione of accortezzeSostituzioneIstruzioni; track $index) {
            <li
              class="animation-duration-500 animation-ease-in-out"
              pAnimateOnScroll
              enterClass="fadeinleft"
              [once]="false"
            ><p>{{ istruzione }}</p></li>
          }
        </ul>
      </p-scrollPanel>
    } @else {
      <p-button
        severity="warning"
        label="Sblocca Accortezze per la Sostituzione"
        icon="fa fa-solid fa-lock"
      ></p-button>
    }
  </div>

</div>
