<!-- <h2>Signup</h2> -->
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <div class="form-group-box">
    <!--Username-->
    <div class="input-field" [class.error]="signupForm.controls['username'].dirty && signupForm.hasError('required','username')"> 
      <span class="p-float-label"> 
        <input 
          class="p-input"
          pInputText
          formControlName="username"
          placeholder="Username"  required 
        />
        <label for="username">Username<span class="fa fa-user px-2"></span></label>
        </span>
    </div>
    <small *ngIf="signupForm.controls['username'].dirty && signupForm.hasError('required','username')" class="text-danger">*Username è richiesto*</small>

    <!--Email-->
    <div class="input-field" [class.error]="signupForm.controls['email'].dirty && signupForm.hasError('required','email')"> 
      <span class="p-float-label">       
        <input class="p-input"
          type="email"
          class="p-input"
          pInputText
          formControlName="email"
          placeholder=" Email"  required 
        />
        <label for="email">Email<span class="fa fa-user px-2"></span></label>
      </span>
    </div>
    <small *ngIf="signupForm.controls['username'].dirty && signupForm.hasError('required','username')" class="text-danger">*Username è richiesto*</small>

    <!--Password-->
    <div class="input-field" [class.error]="signupForm.controls['password'].dirty && signupForm.hasError('required','password')"> 
      <span class="p-float-label">       
        <p-password
          formControlName="password"
          [toggleMask] = true
          class="p-input"
          styleClass="p-input"
          inputStyleClass="p-input"
          placeholder="Password">
        </p-password>  
        <label for="password">Password<span class="fa fa-lock px-2"></span></label>
      </span> 
    </div>
    <small *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')" class="text-danger"> *Password è richiesta*</small>
    
    <!--Confirm Password-->
    <div class="input-field" [class.error]="signupForm.controls['confirmPassword'].dirty && signupForm.hasError('required','confirmPassword')"> 
      <span class="p-float-label">       
        <p-password
          formControlName="confirmPassword"
          [toggleMask]="true"
          [feedback]="false"
          class="p-input"
          styleClass="p-input"
          inputStyleClass="p-input"
          placeholder="Conferma Password"
        ></p-password>   
        <label for="password">ConfermaPassword<span class="fa fa-lock px-2"></span></label>
      </span>
    </div>
    <small *ngIf="signupForm.controls['confirmPassword'].dirty && signupForm.hasError('required','confirmPassword')" class="text-danger"> *Password è richiesta*</small>
    <small *ngIf="signupForm.hasError('passwordMismatch', 'confirmPassword')" class="text-danger">*Le password non coincidono*</small>

    <p-button type="submit" [disabled]="signupForm.invalid">Registrati</p-button>

  </div>
  <div *ngIf="signupError" class="error-message">
    Registrazione fallita. Assicurati che i dati siano corretti.
  </div>
</form>

<!-- <div class="text-center pt-4 text-muted">Hai già un account? 
    <a id="forgot" routerLink="/login" >Accedi</a> 
</div> -->