/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.p-tabmenu {
    .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
        box-shadow: none !important;
    }
}

/**
    TODO: Capire perché non piglia il nested css sui custom dei componenti
*/
.card-container .package-card .p-card-header {
    padding: 10px;
    text-align: center;
}

.card-container .package-card {

    .p-card:hover {
        box-shadow: 0 0 11px rgba(33,33,33,.2);
    }

    .icon {
        margin: 10px;
        font-size: 40px;
        padding: 40px;
        border-radius: 50%;
        border: 1px solid black
    }

    .icon:hover {
        color: #ffffff;
        background-color: #000000;
    }

    .card-title:hover, .icon:hover {
        cursor: pointer;
    }
}

.userinfo-card {
    .p-card-header {
        padding: 3em;
    }
    .p-card-body {
        .check-icon {
            color: rgb(71, 255, 93);
        }
    }
}
html, body { height: 100%; }
body {
  margin: 0;
  font-family: "Quicksand,sans-serif", "Roboto", "Helvetica Neue", sans-serif;
  &.background {
    background: url("app/shared/tecnico-sfondo.jpeg");
    position: absolute;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
  }
}

.p-button.p-button-info {
  color: #fff;
  background-color: #003399;
  border: 1px solid #003399;
}
.p-button.p-button-warning {

}

.add-icon, .edit-icon{
  cursor: pointer;
  &:hover {
    opacity: 0.3;
    transition: opacity 200ms ease-in-out;
  }
}

.delete-trash-icon {
  cursor: pointer;
  color: #ca0000;

  &:hover {
    color: #ff3c3c;
    transition: color 200ms ease-in-out;
  }
}

//Menu
.desktop-menu-bar {
    position: fixed;
    width: 100%;
    padding: 0.8em 1em;
    height: 90px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: all .2s ease-in-out;
    .logo-box {
        .logo {
            width: 54px;
            cursor: pointer;
        }
    }
    .menu-list {
        margin: 0;
        padding-left: 0;
        list-style-type: none;
        line-height: 2;
        li {
            display: inline-block;
            cursor: pointer;
            float: left;
            font-family: Quicksand, sans-serif;
            text-align: center;
            &::after {
                content: "";
                display: block;
                border-bottom: 3px solid #fff;
                transform: scaleX(0);
                transition: transform 250ms ease-in-out;
            }
            &:hover {
                &::after {
                    transform: scaleX(1);
                }
            }
            a {
                text-decoration: none;
                color: #fff;
                text-align: center;
                font-size: 14px;
                font-weight: bold;
                padding: 1em 0.6em;
                margin: 0 0.3em;
            }
        }
    }
    &.minimized-bar {
        background-color: #fff;
        height: 60px;
        .menu-list {
            li {
                &::after {
                    content: "";
                    display: block;
                    border-bottom: 3px solid #000;
                    transform: scaleX(0);
                    transition: transform 250ms ease-in-out;
                }
                &:hover {
                    &::after {
                        transform: scaleX(1);
                    }
                }
                a {
                    color: #000;
                }
            }
        }
    }
    &.area-riservata-menu {
      position: relative;
    }
}


.area-riservata-menu-bar {
  position: absolute;
  width: 100%;
  top: 180px;
  padding: 0.8em 1em;
  height: 60px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: all .2s ease-in-out;
  .menu-box {
    background-color: rgba(255,255,255,.7);
    backdrop-filter: blur(50px);
    padding: 20px;
    border-radius: 25px;
    color:rgba(26, 26, 26, 0.3);
    .menu-list {
      margin: 0;
      padding-left: 0;
      list-style-type: none;
      line-height: 2;
      li {
        display: inline-block;
        cursor: pointer;
        float: left;
        font-family: Quicksand, sans-serif;
        text-align: center;
        &::after {
          content: "";
          display: block;
          border-bottom: 3px solid #000;
          transform: scaleX(0);
          transition: transform 250ms ease-in-out;
        }
        &:hover {
            &::after {
                transform: scaleX(1);
            }
        }
        a {
          text-decoration: none;
          text-align: center;
          font-size: 14px;
          font-weight: bold;
          padding: 1em 0.6em;
          margin: 0 0.3em;
            color: #000;
        }
      }
    }
  }
}

.menu-button {
    position: absolute;
    top: 3%;
    right: 3%;
    //inset: 3% 3% 0 0;
    .menu-button-nested {
        border-radius: 50px;
        background-color: rgba(26, 26, 26, 0.3);
        border-color: rgba(26, 26, 26, 0.3);
    }
    // @media screen and (min-width: 760px) {
    //     display: none;
    // }
}

.menu-sidebar {
    .menu-sidebar-nested {
        width: 100%;
        background-color: rgba(0,0,0,.6);
        .menu-box {
            position: absolute;
            top: 25%;
            right: 10%;
            .menu {
                text-decoration: none;
                color: #fff;
                font-size: 18px;
                li {
                    list-style-type: none;
                }
            }
        }
    }
    // @media screen and (min-width: 760px) {
    //     display: none;
    // }
}

.menu-items {
    position: absolute;
    left: 5%;
    top: 120px;
    background-color: rgba(255,255,255,.2);
    border-color: rgba(255, 255, 255,.2);
    .p-menuitem-text, .p-icon {
        color: rgb(255, 255, 255);
    }
    .p-menuitem-text {
        &:hover {
            color: rgb(133, 133, 133);
            transition: all 100ms ease-in-out;
        }
    }
}

//Sezione Form autenticazione
.form-group-box {
    margin-top: 36px;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    gap: 36px;
    .input-field {
        flex-basis: 100%;
        .input-label, .p-input {
            width: 100%;
        }
    }
}

.container-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 300px 15% 130px 15%;
    gap: 20px;
    .add-button-box {
        align-self: flex-end;
    }
    .table-list {
      width: 100%;
      .edit-cell {
        width: 20%;
        .edit-box {
          display: flex;
          gap: 12px;
        }
      }
      .index-box {
        font-weight: bold;
      }
    }
}

.edit-container, .view-container {
    width: 48rem;
    .edit-header, .view-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .edit-data-box, .view-data-box {
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        .edit-item-box, .view-item-box {
            display: flex;
            flex-direction: row;
            gap: 28px;
            &:not(.error-description) {
              height: 30px;
              .form-item {
                height: 30px;
              }
            }
            align-items: center;
            .item-label {
                font-weight: 700;
            }
        }
    }
}

.caldaia-image-modal {
  display: flex;
  flex-flow: column nowrap;
  gap: 28px;
  .remove-button {
    float: right;
  }
  .caldaia-image-view {
    width: 360px;
  }
}

.edit-soluzioni-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 16px;
  .edit-soluzione-box {
    display: flex;
    flex-direction: row;
    gap: 18px;
    height: 30px;
    align-items: center;
    .form-item {
        flex-basis: 95%;
        height: 30px;
    }
    .delete-item {
      flex-basis: 5%;
    }
  }
}

.delete-dialog {
    .dialog-content-box {
        display: flex;
        flex-direction: column;
        gap: 28px;
        .dialog-button-box {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

        }
    }
}

.p-element .p-button, .p-button-danger, .p-button-success {
    &:focus {
        box-shadow: none;
    }
}

.p-dialog-mask {
    background-color: rgba(33,33,33,.3);
    z-index: 2102002;
}

.pi {
    font-size: 1rem;
}

.grid-box-layout {
  display: grid;
  grid-template-rows: 40px;
  grid-template-columns: 20% 65% 15%;
  row-gap: 20px;

  .grid-col {
    align-self: center;
  }

  .grid-col-1 {
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .grid-col-2 {
    grid-column-start: 2;
    grid-column-end: 2;

    .p-inputtext {
      height: 20px;
    }
  }

  .grid-col-3 {
    grid-column-start: 3;
    grid-column-end: 3;
  }
}

.background-container {
    background: url("app/shared/tecnico-sfondo.jpeg");
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .title-box {
        padding: 50px;
        border-radius: 25px;
        backdrop-filter: blur(20px);
        color: #ffffff;
        font-size: 51px;
    }
}

//Sezione marche
.marca-card-container {
    margin: 2% 8%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .marca-card {
        box-shadow: 1px 2px 8px 0 rgba(0,0,0,0.12);
        &:hover {
            box-shadow: 4px 8px 20px 2px rgba(0,0,0,0.15);
            transition: 0.2s ease-in-out;
        }
        .marca-card-content {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: stretch;
            .marca-nome {
                font-size: 20px;
                font-weight: bold;
                font-family: Quicksand,sans-serif;
                align-self: center;
            }
        }
    }
}

//Sezione modelli
.filters {
  margin: 24px 0 0 20%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 20px;
}

.caldaia-card-container {
    margin: 0 20%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px 5%;
    .caldaia-card {
        flex-basis: 30%;
        .button-list {
            display: flex;
            flex-direction: row;
            gap: 12px;
        }
    }
}

.caldaie-list-paginator {
    margin: 3% 0 3% 0;
}

//Sezione dettaglio modello
.detail-caldaia-card {
    width: 70%;
    margin: 180px 15%;
    backdrop-filter: blur(40px);
    background-color: rgba(255,255,255,.2);
    .detail-caldaia-box {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;

        .left-side-box {
            .caldaia-image {
                width: 350px;
            }
        }
        .right-side-box {
            font-family: Quicksand,sans-serif;
            width: 50%;
            .nome-caldaia {
                font-size: 28px;
            }
            .error-panel {
                margin-bottom: 20px;
            }
        }
    }
}

//Sezione pacchetti
.pacchetti-section {
  background-image: url("app/shared/bianco-a-righe.jpeg");
  position: relative;
  bottom: 7.5%;
  .pacchetto-card-container {
    width: 85%;
    margin: 7.5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 21px;
    .pacchetto-card {
      background-color: transparent;
      width: 400px;
      padding: 0.5em;
      &:hover {
        box-shadow: 4px 8px 20px 2px rgba(0,0,0,0.40);
        transition: all 200ms ease-in-out;
      }
      .pacchetto-card-box {
        display: flex;
        flex-flow: column nowrap;
        gap: 50px;
        .pacchetto-icon-box {
          text-align: center;
          .icon-box {
            display: inline-block;
            background-color: #003399;
            padding: 0.5em;
            font-size: 50px;
            border: 10px solid #fff;
            border-radius: 50%;
            color: #fff;
            &:hover {
              background-color: #fff;
              color: #003399;
              border-color: #003399;
              transition: all .3s;
            }
            .fa-gripfire {
              display: block;
            }
          }
        }
        .pacchetto-descrizione-box {
          text-align: center;
          font-family: Quicksand, sans-serif;
          h3 {
            color: #003399;
            .sconto {
              color: red;
            }
          }
        }
        .pacchetto-button-box {
          text-align: center;
        }
      }
    }
  }
}

//Profilo utente
.user-profile-card {
  width: 70%;
  margin: 8% 15%;
  background-color: transparent;
  box-shadow: none;
  .user-profile-content-box {
    display: flex;
    flex-flow: column nowrap;
    gap: 45px;
    justify-content: center;
    .card-item {
      text-align: center;
      .user-icon {
        background-color: rgba(255,255,255,.8);
        color: #000;
        padding: 0.5em;
        font-size: 50px;
        border-radius: 50%;
      }
      &.user-name {
        color: #fff;
        backdrop-filter: blur(40px);
      }
      &.user-sblocchi {
        background-color: rgba(255,255,255,.8);
        border-radius: 50px;
        padding: 28px;
        width: 50vw;
        align-self: center;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        gap: 19px;
        @media screen and (max-width: 860px) {
          width: 80vw;
        }
        .sblocco-row {
          flex-basis: 100%;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-around;
          align-items: center;
          .row-item {
            flex-basis: 33%;
            .view-caldaia-button {
              height: 30px;
              &:hover {
                background-color: #266fff;
                border-color: #266fff;
                transition: all 0.2s ease-in-out;
              }
            }
            &.special-content-flag {
              .fa-lock {
                color: red;
              }
              .fa-lock-open {
                color: greenyellow;
              }
            }
          }
        }
      }
    }
  }
}

//Individuazione guasti
.istruzioni-panel-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 24px;
  .guasti-title-box {
    padding: 41px;
    border-radius: 25px;
    margin-top: 110px;
    backdrop-filter: blur(20px);
    color: #ffffff;
    font-size: 43px;
  }
  .istruzioni-panel {
    width: 760px;
    height: 72vh;
    background-color: rgba(255,255,255,.8);
    border-radius: 50px;
    padding: 25px;
    @media screen and (max-width: 860px) {
      width: 85%;
    }
  }
}

.p-dialog {
  height: 90% !important;
}
